* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
}

body {
  background: #121829;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#logo {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 120px;
  top: 35px;
}

.chatbox {
  animation: motion 0.3s linear 0s infinite alternate;
  margin-top: 0;
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 5px;
  }
}

#home {
  position: absolute;
  left: 688px;
  top: 46px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  z-index: 1;
  letter-spacing: 15px;
}
#home a:hover {
  color: #9d24fc;
}
#home a {
  color: white;
}

#header {
  position: absolute;
  left: 864px;
  top: 46px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}
#header a:hover {
  color: #9d24fc;
}
#header a {
  color: white;
}
#content {
  position: absolute;
  left: 1040px;
  top: 46px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
#content a {
  color: white;
}
#content a:hover {
  color: #9d24fc;
}
#login {
  position: absolute;
  width: 94px;
  height: 24px;
  left: 1216px;
  top: 46px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4em;
  color: #c4c4c4;
}
#login a {
  color: #c4c4c4;
}

#login a:hover {
  color: #9d24fc;
}

/* 이미지 중간 영역 */
.carousel-container {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 130px;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;
}

.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.slide-content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #030b17 80%, #0c111b00);
  color: #fff;
}

.movie-title {
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.movie-des {
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}

.imges {
  position: absolute;
  top: 900px;
  left: 120px;
}

.imgesone {
  left: 120px;
  position: absolute;
  top: 1400px;
}

.text {
  color: white;
  text-align: center;
  margin-top: 130px;
  left: 600px;
  position: absolute;
}

.textone {
  color: white;
  text-align: left;
  left: 600px;
  position: absolute;
  margin-top: 200px;
  line-height: 50px;
}

.text2 {
  color: white;
  text-align: center;
  margin-top: 625px;
  left: 600px;
  position: absolute;
}

.texttwo {
  color: white;
  text-align: left;
  left: 600px;
  position: absolute;
  margin-top: 700px;
  line-height: 50px;
}
